.card-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    color: grey;
}

p a {
    color: blue;
 }
